@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model X.PagedList.IPagedList<TipoVeiculo>
@{
    ViewData["Title"] = "Cadastro de Categorias";
}

@section Scripts{

}
<div class="text-center">
    <h4>Cadastro de Categorias</h4>
    <input type="text" id="textopesquisa" class="form-control" onkeyup="VerificarDigitacao(event)" value="@HttpContextAccessor.HttpContext.Session.GetString("TextoPesquisa")">
    <input type="button" value="Limpar" onclick="Limpar()" class="btn btn-primary">
    <input type="button" value="Pesquisar" onclick="Pesquisar()" class="btn btn-primary">
    <a asp-area="" asp-controller="TipoVeiculo" asp-action="Detalhe"><input type="button" value="Novo"
            class="btn btn-primary" style="margin-top: 30px; margin-bottom: 30px;"></a>
    <div id="divpartial">
        <partial name="~/Views/TipoVeiculo/ListaPartialView.cshtml" />
    </div>
</div>

<script>

    function Limpar() {
        $('#textopesquisa').val(''); 
        Pesquisar();
    }
    
    function Pesquisar() {
        //var result = document.getElementById("textopesquisa").value;
        var result = $('#textopesquisa').val(); 
        var url = "/TipoVeiculo/ListaPartialView";
        var parametros = { tipo: result };
        $.get(url, parametros) 
            .done(function (data) {
                $('#divpartial').html(data);  
            });
    }

    function VerificarDigitacao(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { 
            Pesquisar();
        }
    }

    function Excluir(id) {
        var result = confirm("Tem certeza que quer excluir?");
        if (result) {
            var url = "/TipoVeiculo/Excluir";
            var parametros = { id: id };
            $.get(url, parametros) 
                .done(function (data) { 
                    if (data.sucesso) { 
                        document.location.reload(true);
                    } else {
                        alert(data.mensagem);
                    }
                });
        }
    }

</script>