@model X.PagedList.IPagedList<TipoVeiculo>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

<table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Categoria</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
            <td>@Model[i].Id</td>
            <td>@Model[i].Tipo</td>
            <td><input type="button" value="Editar" class="btn btn-dark" onclick="javascript:window.location=`/TipoVeiculo/Detalhe/${@Model[i].Id}`">
            <input type="button" value="Excluir" class="btn btn-danger" onclick="Excluir(@Model[i].Id)"></td>
            
            </tr>
            }
        
        </tbody>
    </table>

    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))