@model Estabelecimento
@{
    ViewData["Title"] = "Adicionar um novo Estabelecimento";
}

@section Scripts{

}

<div class="text-center">
    <h4>@if (Model.Id > 0)
        {
            @Html.Raw("Editar Estabelecimento")
            ;
        }
        else
        {
            @Html.Raw("Incluir Estabelecimento")
            ;
        }
    </h4>
</div>

<div id="tabs" #tabs>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-target="#cadastro" data-toggle="tab">Estabelecimento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-target="#itens" data-toggle="tab">Tipo de Veículo</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="cadastro">

            <form method="POST" asp-action="Detalhe" asp-controller="Estabelecimento" class="form p-5"
                style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
                <div class="text-danger">@Html.ValidationSummary()</div>

                <div class="row">
                    <div class="col-md-6">
                        <input asp-for="Id" type="hidden" class="form-control">
                        <label for="inputNome" class="form-label">Nome</label>
                        <input asp-for="Nome" type="text" class="form-control">
                    </div>

                    <div class="col-md-6">
                        <label for="inputLogradouro" class="form-label">Logradouro</label>
                        <input asp-for="Logradouro" type="text" class="form-control" placeholder="Rua/Avenida">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="inputNumero" class="form-label">Número</label>
                        <input asp-for="Numero" type="number" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="inputBairro" class="form-label">Bairro</label>
                        <input asp-for="Bairro" type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="inputCidade" class="form-label">Cidade</label>
                        <input asp-for="Cidade" type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEstado" class="form-label">Estado</label>
                        <input asp-for="Estado" type="text" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="inputPais" class="form-label">País</label>
                        <input asp-for="Pais" type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="inputCEP" class="form-label">CEP</label>
                        <input asp-for="CEP" type="text" class="form-control" maxlength="9">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="inputTelefone" class="form-label">Telefone</label>
                        <input asp-for="Telefone" type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="inputHorarioFuncionamento" class="form-label">Horario de Funcionamento</label>
                        <input asp-for="HorarioFuncionamento" type="text" class="form-control">
                    </div>
                </div>


                <input id="SalvarEstabelecimento" type="submit" value="Salvar" class="btn btn-success"
                    style="margin-top: 30px; margin-bottom: 15px;">
                <input type="button" value="Voltar" class="btn btn-success" onclick="Voltar()"
                    style="margin-top: 30px; margin-bottom: 15px;"></td>
            </form>
        </div>

        <div class="tab-pane" id="itens">
            <div id="divItem" hidden>
                <form class="form p-5"
                    style="border: 3px solid grey; background: #E6E6E6; border-radius: 15px; margin-top: 30px;">
                    <div class="text- danger" id="divErroItem"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <input id="IdEstabelecimentoTipoVeiculo" type="hidden" class="form-control">
                            <label class="form-label">Tipo de Veículo</label>
                            <select asp-items="@ViewBag.TiposVeiculos" id="IdTipoVeiculo" class="form-control"></select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Valor</label>
                            <input id="Valor" type="text" class="form-control">
                        </div>
                    </div>

                    <input type="button" value="Salvar" onclick="SalvarEstabelecimentoTipoVeiculo()" class="btn btn-success" 
                        style="margin-top: 30px; margin-bottom: 30px;">
                    <input type="button" value="Cancelar" class="btn btn-success" onclick="Cancelar()"
                        style="margin-top: 30px; margin-bottom: 30px;"></td>
                </form>
            </div>

            <input type="button" id="Novo" value="Novo" onclick="Adicionar()" class="btn btn-primary"
                style="margin-top: 30px; margin-bottom: 30px;">
            <input type="button" value="Voltar" onclick="Voltar()" class="btn btn-primary" 
                    style="margin-top: 30px; margin-bottom: 30px;"></td>  

            <div id="divpartialitens">

            </div>

        </div>
    </div>
</div>        

<script>

    window.onload = function () {
        PesquisarEstabelecimentos();
    }

    function PesquisarEstabelecimentos() {
        var result = $('#Id').val(); 
        var url = '/EstabelecimentoTipoVeiculo/ListaPartialView';
        var parametros = { idEstabelecimento : result };
        $.get(url, parametros) 
            .done(function (data) {
                $('#divpartialitens').html(data);  
            });
    }

    function Adicionar() {
        $('#divItem').prop('hidden', false);
        Limpar();
    }

    function SalvarEstabelecimentoTipoVeiculo() {
        var idEstabelecimentoTipoVeiculo = $('#IdEstabelecimentoTipoVeiculo').val();
        var idEstabelecimento = $('#Id').val();
        var idTipoVeiculo = $('#IdTipoVeiculo').val();
        var valor = $('#Valor').val();

        if (valor == "") {
            $('#divErroItem').html("Preencha o valor, por favor");
            return;
        }

        var url = '/EstabelecimentoTipoVeiculo/Salvar';
        var parametros = { Id : idEstabelecimentoTipoVeiculo,  IdEstabelecimento : idEstabelecimento, 
        IdTipoVeiculo: idTipoVeiculo, Valor : valor }; 
        $.post(url, parametros)
            .done(function (data) {
                if (data.sucesso) {
                    $('#divItem').prop('hidden', true);
                    PesquisarEstabelecimentos();
                    Limpar();
                    return;
                } else {
                    $('#divErroItem').html(data.mensagem);
                }
            });
    }

    function EditarEstabelecimentoTipoVeiculo(id) {
        var url = '/EstabelecimentoTipoVeiculo/Editar';
        var parametros = { id: id }
        $.get(url, parametros)
            .done(function (data) {
                if (data.sucesso) {
                    $('#divItem').prop('hidden', false);
                    $('#IdEstabelecimentoTipoVeiculo').val(data.estabelecimentoTipoVeiculo.id);
                    $('#IdTipoVeiculo').val(data.estabelecimentoTipoVeiculo.idTipoVeiculo);
                    $('#Valor').val(data.estabelecimentoTipoVeiculo.valor);
                } else {
                    alert('Não encontrado');
                }
            });
    }

    function Limpar(){
        $('#IdEstabelecimentoTipoVeiculo').val('');
        $('#IdTipoVeiculo').val('');
        $('#Valor').val('');
    }

    function Cancelar(){
        $('#divItem').prop('hidden', true);
        Limpar();    
    }

    function Excluir(id) {
        var result = confirm("Tem certeza que quer excluir?");
        if (result) {
            var url = "/EstabelecimentoTipoVeiculo/Excluir";
            var parametros = { id: id };
            $.get(url, parametros) 
                .done(function (data) { 

                    if (data.sucesso) { 
                        PesquisarEstabelecimentos();
                    } else {
                        alert(data.mensagem);
                    }

                });
        }
    }

    function Voltar() {
        window.location.href = "https://localhost:5001/Estabelecimento";
    }
      
</script>