@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model X.PagedList.IPagedList<EstabelecimentoTipoVeiculo>
@{
    ViewData["Title"] = "Cadastro de Mesas";
}

@section Scripts{

}
<div class="text-center">
    <h4>Cadastro de Mesas</h4>
    <select id="idEstabelecimento" asp-items="@ViewBag.Estabelecimentos" class="form-control" onchange="Pesquisar()"></select>
    <input type="text" id="textopesquisa" class="form-control" onkeyup="VerificarDigitacao(event)" value="@HttpContextAccessor.HttpContext.Session.GetString("TextoPesquisa")" >
    <input type="button" value="Limpar" onclick="Limpar()" class="btn btn-primary">
    <input type="button" value="Pesquisar" onclick="Pesquisar()" class="btn btn-primary">
    <a asp-area="" asp-controller="EstabelecimentoTipoVeiculo" asp-action="Detalhe"><input type="button" value="Novo"
            class="btn btn-primary" style="margin-top: 30px; margin-bottom: 30px;"></a>
    <div id="divpartial">
        <partial name="~/Views/EstabelecimentoTipoVeiculo/ListaPartialView.cshtml" />
    </div>
</div>

<script>
    function Limpar() {
        $('#textopesquisa').val(''); 
        Pesquisar();
    }
    function Pesquisar() {
        //var result = document.getElementById("textopesquisa").value;
        var result = $('#textopesquisa').val(); 
        var idEstabelecimento = $('#idEstabelecimento').val();
        var url = "/EstabelecimentoTipoVeiculo/ListaPartialView";
        var parametros = { localizacao: result, idEstabelecimento: idEstabelecimento};
        $.get(url, parametros) 
            .done(function (data) {
                $('#divpartial').html(data);  
    }
    function VerificarDigitacao(e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) { 
            Pesquisar();
        }
    }
    function Excluir(id) {
        alert("Solicitação negada! A mesa só pode ser excluída através do pedido");
    }
</script>